*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Roboto;
}
.container {
    position: relative;
    max-width: 1069px;
    min-width: 800px;
    height: 720px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    margin: 0 auto;
}
.header {
    margin: 0 auto;
}
.header h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 43px;
    line-height: 50px;
    color: #000000;
    margin-left: 16px;
}
.main-container {
    display: flex;
    flex-wrap: wrap;
}
.box {
    width: 50%;
    display: flex;
    align-items: center;
}

.img-coin {
    position: relative;
}
.img-coin img {
    width: 172px;
    height: 172px;
}
.ellipse {
    background: #833AE0;
    display: inline-block;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: 63%;
    right: 0%;
    top: 27px;
}
.ellipse p {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 15px;
}

.info-coin-flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.info-coin a {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #833AE0;
    display: block;
    margin-bottom: 15px;
}
.info-coin p{
    font-size: 12px;
    line-height: 15px;
    font-style: normal;
}
.cost-coin {
    padding-left: 18px;
}
.cost-coin p:first-child {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 123.4%;
    color: #000000;
}
.cost-coin p:last-child {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 125.5%;
    color: #7A7A7A;
}

@media (max-width: 900px){
    .box{
        width: 100%;
    }
}
.container-page2 {
    margin: 0 auto;
    margin-top: 24px;
    display: flex;
    background-color: yellow;
    max-width: 920px;
    min-width: 600px;
    background: rgba(196, 196, 196, 0.5);

}
.text-info {
    padding:12px 47px;
}
text-info p{
    font-size: 12px;
}
.box-size {
    width: 50%;
}
.box-coin {
    background-color: white;
}
.box-image {
    width: 100%;
    position: relative;
}
.box-image img{
    width: 100%;
    position: absolute;
}
.rever {
    display: none;
}
.box-image:hover .rever{
    display: block;
}

.box-info h1 {
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 33px;
align-items: center;
color: #000000;
}
.text-grey {
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    align-items: center;
    color: #7A7A7A;
}
.size-text {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 125.5%;
/* or 18px */

display: flex;
align-items: center;

color: #000000;
}
.size-money {
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 33px;
display: flex;
align-items: center;

color: #000000;
}
.size {
    font-size: 10px;
    color: black;
}
.text-inline
{
    display: inline-block;
}
.text-info a {
    font-family: Roboto;
    font-size: 12px;
    color: #833AE0;
    display: block;
    margin-top: 17px;
}
.text-bottom {
    padding-bottom: 30px;
}
.table-text {
    font-family: Roboto;
    font-size: 13px;
    border-collapse: collapse;
    
}
tr {
    border-bottom: 0.5px solid #b1abab;;
}
tr:last-child{
    border-bottom: none;
}
tr:nth-child(odd) {
    background: rgba(255, 255, 255, 0.9);
}
td {
    padding:3px;
    width: 50%;
}
table tr td:first-child {
    border-right: 0.5px solid #b1abab;
}